@page
@model EcommerceFrontend.Web.Pages.Sale.Categories.IndexModel
@{
    ViewData["Title"] = "Category List";
    Layout = "_SaleLayout";
}
<h1>Category List</h1>


<a asp-page="Create" class="btn btn-primary">Create New Category</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
            <tr>
                <td>@category.ProductCategoryId</td>
                <td>@category.ProductCategoryTitle</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@category.ProductCategoryId" class="btn btn-warning">Edit</a>
                    <form method="post" asp-page-handler="Delete" asp-route-id="@category.ProductCategoryId" style="display:inline;">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>